<h1>Welcome to Product Tracker!</h1>
  <p>
    <%= "#{@user.email}" %> One of your products have reached a quantity of 0.<br>
  </p>
<p>Thanks for taking the time to read this and have a great day!</p><br><br>

<p>From,</p>
<p>Product Tracker</p>
