<h1>Welcome to Product Tracker! %></h1>
  <p>
    One of your products have reached a quantity of 0 <%= @user.email %>.<br>
  </p>
<p>Thanks for taking the time to read this and have a great day!</p><br><br>

<p>From,</p>
<p>Product Tracker</p>
